.container-mentions {
  display: flex;
  flex-direction: column;
  width: 85%;
  text-align: justify;
  padding-top: 25vh;
  align-items: center;
  margin: 0 auto 240px auto; /* bottom = footer height */
}

.container-mentions h2 {
  color: #a9c6ba;
  text-align: center;
}

@media (max-width: 768px) {
  .container-mentions {
    width: 80%;
    margin: 0 auto 160px auto; /* bottom = footer height */
  }

  .container-mentions h1 {
    font-size: 40px;
    text-align: center;
  }
}
