@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./style/Fonts/Amsterdam-Two_ttf.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  color: #48392e;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "MyFont", cursive;
  margin-top: 0;
  font-weight: 100;
  font-style: italic;
  color: #48392e;
  font-size: 70px;
}

/* CSS for pages*/

.coffeePage {
  min-height: 100vh;
  background-color: #e8ceb0;
}

.greenPage {
  min-height: 100vh;
  background-color: #a9c6ba;
}

.creamPage {
  min-height: 100vh;
  background-color: #fff5f0;
}

/* ACCUEIL PAGE */

.accueil-img-text-container {
  padding-top: 25vh;
  display: flex;
  justify-content: space-around;
}

.instruction-container h4 {
  text-align: center;
  font-size: xx-large !important;
}

.instruction-container p {
  text-align: center;
  font-size: x-large !important;
}

.ecriture {
  width: 30%;
}
.instruction-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.citation-container {
  width: 90%;
  display: flex;
  margin: 3% auto 0 auto;
  justify-content: space-around;
}

.citation {
  font-size: 26px !important;
  text-align: center;
}

.auteur {
  font-size: 33px !important;
  text-align: end;
}

.guillemet1 {
  width: 5%;
  height: 5%;
  transform: rotateY(3.142rad);
}

.guillemet2 {
  width: 5%;
  height: 5%;
}

/* ABOUT PAGE */

.container-about {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25vh;
  margin: auto;
}

.about-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

p {
  text-align: justify;
  font-size: 200;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
}

.container-sophro {
  padding-top: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.claire-container {
  width: 35%;
  display: flex;
  justify-content: center;
}

.claire {
  width: 80%;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .container-about {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;

    min-height: 100%;
  }

  .who-txt-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75% !important;
    margin-top: 20px;
  }

  .claire {
    width: 90%;
    filter: drop-shadow(15px 15px 15px #48392e63);
  }

  .claire-container {
    order: 1;
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  p {
    text-align: justify;
    font-size: medium;
  }

  h4 {
    font-size: large;
  }

  .container-sophro {
    padding-top: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* SOPHRO PAGE */

.presentation {
  width: 35%;
}

.presentation img {
  width: 90%;
}
.container-sophro-who {
  position: relative;
  background-color: #fff5f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.who-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10%;
}

.who-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.who-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.presentation-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.who-txt-pic-container img {
  margin-top: 3%;
  width: 200px;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

.adults {
  height: 200px;
  width: auto !important;
}

.why-container {
  display: flex;
  width: 93%;
  justify-content: space-between;
}
.why-txt-pic-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-txt-pic-container img {
  width: 70%;
  padding-bottom: 30px;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

.why-title {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-sophro {
    padding-top: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .presentation {
    margin: 45px 0;
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .who-container {
    padding-top: 20%;
  }

  .who-text-container {
    width: 75%;
  }

  .why-title {
    margin-top: 10%;
  }

  .why-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .why-txt-pic-container {
    width: 75%;
    margin-bottom: 20px;
  }

  .why-txt-pic-container img {
    width: 200px;
  }
}

/* Divider start */
.custom-shape-divider-top-1634994765 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634994765 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
}

.custom-shape-divider-top-1634994765 .shape-fill {
  fill: #e8ceb0;
}

.custom-shape-divider-top-1634995479 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634995479 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 170px;
}

.custom-shape-divider-top-1634995479 .shape-fill {
  fill: #fff5f0;
}

/* Divider End */

.container-sophro-why {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10%;
}

.logo-anime {
  height: 100%;
  margin: auto;
}

.my-animation {
  display: flex;
  min-height: 100vh;
  background-color: #fff5f0;
  animation: fadeOut ease 4s;
  -webkit-animation: fadeOut ease 4s;
  -moz-animation: fadeOut ease 4s;
  -o-animation: fadeOut ease 4s;
  -ms-animation: fadeOut ease 4s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ENTREPRISE PAGE */

.reunion {
  width: 40%;
}

.entreprise-title {
  padding-top: 25vh;
  display: flex;
  justify-content: center;
}

.entreprise-title h1 {
  margin-bottom: -6% !important;
}

.entreprise-img-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.entreprise-txt-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Seance CSS start */

.number {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.number h1 {
  font-family: "MyFont", sans-serif;
  margin-bottom: 0px !important;
  text-shadow: 3px 3px 7px #48392e;
}
.number p {
  text-align: center;
}

.numbers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8%;
}

.numbers-container-txt {
  text-align: center;
}

.fauteuil {
  width: 35%;
  margin: 2% 0;
}
.container-seance {
  text-align: center;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;

  align-items: center;
}

.container-seance li {
  font-size: large;
}

.seance-title {
  padding-top: 25vh;
  display: flex;
  justify-content: center;
}

.meditation-img {
  width: 80%;
  margin: auto;
  display: flex;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

.seance-title h1 {
  margin-bottom: 1% !important;
}

.seance-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.seance-txt-pic-container h4 {
  margin-bottom: -10px;
  margin-top: 0;
}

.custom-shape-divider-bottom-1635688940 {
  display: none;
}

@media (max-width: 768px) {
  .logo-anime {
    width: 100%;
    margin: auto;
  }

  .container-seance {
    position: relative;
    width: 75%;
    justify-content: center;
    padding-bottom: 20px;
  }

  .container-seance li {
    font-size: medium;
  }

  .custom-shape-divider-top-1634994765 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .custom-shape-divider-bottom-1635688940 {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1635688940 svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 136px;
  }

  .custom-shape-divider-bottom-1635688940 .shape-fill {
    fill: #e8ceb0;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1635688940 svg {
      width: calc(117% + 1.3px);
      height: 51px;
    }
  }

  .custom-shape-divider-top-1634995479 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 50px;
  }
}
/* PRESTA PAGE */

.container-presta {
  padding-top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  height: 350px;
  width: 90%;
  align-items: flex-start;
}

.presta-adultes {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.presta-type {
  position: absolute;
  top: 45%;
}

.prices-container {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff5f0;
  justify-content: space-evenly;
}

.alone {
  width: 30%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff5f0;
  justify-content: space-evenly;
  margin-top: 30px;
}

.paiement {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.prices-container h4 {
  margin: 0;
  text-align: center;
}
.prices-container p {
  font-size: 30px;
  margin: 0;
}

.presta-img-container {
  display: flex;
  height: 100%;
}

.tiare-img {
  width: 100%;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

/* CONTACT PAGE */

.container-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

.contact-container {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.container-contact h1 {
  margin-bottom: 1% !important;
}

.container-adresse {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.container-adresse h4 {
  margin-bottom: 1%;
}

.container-adresse p {
  text-align: center;
}

.container-contact a {
  text-decoration: none;
  color: #e8ceb0;
}

.iframe {
  border: 0;
  width: 500px;
  height: 350px;
  margin: 25px 0;
}

.custom-shape-divider-bottom-1635688825 {
  display: none;
}

@media (max-width: 768px) {
  .container-contact h1 {
    margin-bottom: 33px !important;
  }
  .container-presta {
    flex-direction: column;
  }

  .seance-txt-pic-container {
    width: 75%;
    margin-bottom: 20px;
  }

  .seance-title {
    margin-bottom: 33px;
  }

  .meditation-img {
    width: 255px;
    margin-bottom: 45px;
  }

  .container-adresse {
    width: 75%;
    margin: 0 0 40px 0;
  }

  .iframe {
    width: 400px;
    height: 250px;
  }

  .contact-container {
    flex-direction: column;
    width: 75%;
    align-items: center;
  }

  .custom-shape-divider-bottom-1635688825 {
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1635688825 svg {
    position: relative;
    display: block;
    width: calc(211% + 1.3px);
    height: 51px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1635688825 .shape-fill {
    fill: #e8ceb0;
  }
}
