@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./style/Fonts/Amsterdam-Two_ttf.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  color: #48392e;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "MyFont", cursive;
  margin-top: 0;
  font-weight: 100;
  font-style: italic;
  color: #48392e;
  font-size: 60px;
}

/* CSS for all pages*/

.coffeePage {
  position: relative;
  min-height: 100vh;
  background-color: #e8ceb0;
}

.greenPage {
  position: relative;
  min-height: 100vh;
  background-color: #a9c6ba;
}

.creamPage {
  position: relative;
  min-height: 100vh;
  background-color: #fff5f0;
}

/* ACCUEIL PAGE */

#title {
  font-size: 40px;
  text-align: center;

}
.accueil-img-text-container {
  padding-top: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.instruction-container h4 {
  text-align: center;
  font-size: xx-large !important;
  margin-top: 40px;
}

.instruction-container p {
  text-align: center;
  font-size: large !important;
}

.ecriture {
  width: 20%;
  filter: drop-shadow(15px 15px 15px #48392e63);
}
.instruction-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.citation-container {
  width: 90%;
  display: flex;
  margin: 3% auto 0 auto;
  justify-content: space-around;
}

.citation-mobile {
  display: none;
}

.citation {
  font-size: 40px !important;
  text-align: center;
}

.auteur {
  font-size: 45px !important;
  text-align: end;
  margin-bottom: 0;
  margin-right: 60px;
}

.auteur-mobile {
  display: none;
}

.guillemet1 {
  width: 5%;
  height: 5%;
  transform: rotateY(3.142rad);
}

.guillemet2 {
  width: 5%;
  height: 5%;
}

.guillemet3 {
  display: none;
  transform: rotateY(3.142rad);
}

.guillemet4 {
  display: none;
}

@media (max-width: 768px) {
  .creamPage {
    min-height: 120vh;
  }
  .greenPage {
    min-height: 140vh;
  }

  #title {
    font-size: 25px;
    text-shadow: 1px 1px #48392e8f;
  }
  .accueil-img-text-container {
    flex-direction: column;
    align-items: center;
    padding-top: 18vh;
  }

  .instruction-container > h2 {
    text-align: center;
  }

  .ecriture {
    width: 65%;
    margin-bottom: 20px;
  }
  .instruction-container {
    width: 85%;
  }

  .instruction-container h1 {
    text-align: center;
  }

  .instruction-container h4 {
    font-size: medium !important;
    text-align: justify;
    margin-top: 10px;
  }

  .instruction-container p {
    text-align: justify;
    font-size: small !important;
  }

  .guillemet1 {
    display: none;
  }

  .guillemet2 {
    display: none;
  }

  .guillemet3 {
    display: initial;
    width: 15%;
  }

  .guillemet4 {
    display: initial;
    width: 15%;
  }

  .citation-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3% auto 0 auto;
    justify-content: space-around;
    padding: 0 0 20px 0;
  }

  .citation-mobile {
    display: initial;
    text-align: center;
    font-size: 20px !important;
  }

  .citation {
    display: none;
  }

  .auteur {
    display: none;
  }

  .auteur-mobile {
    display: initial;
    font-size: 25px !important;
    text-align: right;
  }
}
/* ABOUT PAGE */

.container-about {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25vh;
  margin: auto;
}

.about-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.about-txt-pic-container h1 {
  margin-bottom: 10px;
}
p {
  text-align: justify;
  font-size: medium;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
}

.container-sophro {
  padding-top: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.claire-container {
  width: 35%;
  display: flex;
  justify-content: center;
}

.claire {
  width: 80%;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

.container-chambre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container-chambre a {
  text-decoration: none;
  color: #48392e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* ABOUT DIVIDER TOP */
.custom-shape-divider-top-1638013598 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1638013598 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 94px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1638013598 .shape-fill {
  fill: #fff5f0;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1638013598 svg {
    width: calc(100% + 1.3px);
    height: 28px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  .container-about {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
  }

  .about-txt-pic-container {
    width: 85%;
    margin-bottom: 30px;
  }

  .who-txt-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75% !important;
    margin-top: 20px;
  }

  .claire {
    width: 90%;
    filter: drop-shadow(15px 15px 15px #48392e63);
  }

  .claire-container {
    order: 1;
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  p {
    text-align: justify;
    font-size: small;
  }

  h4 {
    font-size: large;
  }

  .container-sophro {
    padding-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 0px;
  }

  .container-chambre {
    flex-direction: column;
  }
}

/* SOPHRO PAGE */

.presentation {
  width: 35%;
  display: flex;
  justify-content: center;
}

.presentation img {
  width: 70%;
}

.presentation-txt-pic-container h1 {
  margin-bottom: 10px !important;
}
.container-sophro-who {
  position: relative;
  padding-top: 15vh;
  background-color: #fff5f0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}



.who-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

.who-text-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.who-pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.who-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;

}

.presentation-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.who-txt-pic-container img {
  width: 200px;
  filter: drop-shadow(15px 15px 15px #48392e63);
  margin: 20px;
}

.pregnant {
  height: 200px;
  width: auto !important;
}

.who-text-container p {
  text-align: justify;
}

/* SOPHRO DIVIDER TOP */
.custom-shape-divider-top-1638014109 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1638014109 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 94px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1638014109 .shape-fill {
  fill: #a9c6ba;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1638014109 svg {
    width: calc(149% + 1.3px);
    height: 40px;
  }
}

.custom-shape-divider-top-1638014108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1638014108 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 94px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1638014108 .shape-fill {
  fill: #e8ceb0;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1638014108 svg {
    width: calc(149% + 1.3px);
    height: 40px;
  }
}

@media (max-width: 768px) {
  .container-sophro {
    padding-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container-sophro-who {
    flex-direction: column;
  }

  .presentation {
    margin: 45px 0;
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .presentation-txt-pic-container {
    width: 80%;
  }

  .who-container {
    padding-top: 10%;
  }

  .who-text-container {
    width: 85%;
  }

  .presentation img {
    width: 90%;
  }

  .who-txt-pic-container img {
    width: 150px;
  }

  .pregnant {
    height: 150px;
  }
}

/* Divider start */
.custom-shape-divider-top-1634994765 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634994765 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
}

.custom-shape-divider-top-1634994765 .shape-fill {
  fill: #e8ceb0;
}

.custom-shape-divider-top-1634995479 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634995479 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 170px;
}

.custom-shape-divider-top-1634995479 .shape-fill {
  fill: #fff5f0;
}

/* Divider End */

.container-sophro-why {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10%;
}


/* Seance CSS start */

.fauteuil {
  width: 35%;
  margin: 2% 0;
}
.container-seance {
  padding-top: 20vh;
  text-align: center;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  align-items: center;
}

.container-seance h1 {
  margin-bottom: 10px;
}

.container-seance li {
  font-size: large;
}

.meditation-img {
  width: 80%;
  margin: auto;
  display: flex;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

.seance-title h1 {
  margin-bottom: 1% !important;
}

.seance-txt-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.seance-txt-pic-container h4 {
  margin-bottom: -10px;
  margin-top: 0;
}

/* SEANCE TOP DIVIDER */

.custom-shape-divider-top-1638014272 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1638014272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 94px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1638014272 .shape-fill {
  fill: #fff5f0;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1638014272 svg {
    width: calc(221% + 1.3px);
    height: 51px;
  }
}

.custom-shape-divider-top-1634994765 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
}

.custom-shape-divider-bottom-1635688940 {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635688940 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 136px;
}

.custom-shape-divider-bottom-1635688940 .shape-fill {
  fill: #e8ceb0;
}

.seance-img-txt {
  display: flex;
}

@media (max-width: 768px) {
  .seance-title {
    padding-top: 20vh;
  }

  .container-seance {
    position: relative;
    width: 85%;
    justify-content: center;
    padding-bottom: 20px;
  }

  .numbers-container {
    flex-wrap: wrap;
  }

  .fauteuil {
    width: 100%;
  }

  .seance-img-txt {
    display: flex;
    flex-direction: column;
  }

  .container-seance li {
    font-size: medium;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1635688940 svg {
      width: calc(117% + 1.3px);
      height: 30px;
    }
  }

  .custom-shape-divider-top-1634995479 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 30px;
  }
}
/* PRESTA PAGE */

.container-presta {
  padding-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.presta-adultes {
  width: 35%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.prices-container {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff5f0;
  justify-content: space-evenly;
  filter: drop-shadow(15px 15px 15px #48392e63);
}

.paiement {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.prices-container h4 {
  margin: 0;
  text-align: center;
  font-size: large;
}
.prices-container p {
  font-size: 30px;
  margin: 0;
}

.presta-img-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cabinet-img {
  width: 500px;
  height: 230px;
  filter: drop-shadow(15px 15px 15px #48392e63);
  margin: 0 auto;
}

.deontologie {
  margin-bottom: 40px;
}

.custom-shape-divider-top-1650470324 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1650470324 svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 76px;
}

.custom-shape-divider-top-1650470324 .shape-fill {
  fill: #A9C6BA;
}

@media (max-width: 768px) {
  .presta-adultes {
    width: 100%;
    margin: auto;
  }

  .presta-img-container {
    flex-direction: column;
  }

  .cabinet-img {
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
  }
  .presta-img-container {
    height: 70%;
    margin: 30px 0 15px 0;
  }

  .paiement {
    width: 85%;
    flex-direction: column;
  }

  .paiement p {
    text-align: center;
  }

  .deontologie {
    font-size: medium;
    text-align: center;
  }

  .presta-img-container {
    width: 80%;
  }
}

/* CONTACT PAGE */

.container-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

.contact-container {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.container-contact h1 {
  margin-bottom: 1% !important;
}

.container-adresse {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.container-adresse h4 {
  margin-bottom: 1%;
}

.container-adresse p {
  text-align: center;
}

.container-contact a {
  text-decoration: none;
  color: #7c5f3e;
  font-weight: bold;
}

.iframe {
  border: 0;
  width: 500px;
  height: 350px;
  margin: 25px 0;
}

@media (max-width: 768px) {
  .container-contact {
    flex-direction: column;
    padding-top: 20vh;
  }
  .container-contact h1 {
    margin-bottom: 33px !important;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container-presta {
    flex-direction: column;
    padding-top: 20vh;
  }

  .seance-txt-pic-container {
    width: 75%;
    margin-bottom: 20px;
  }

  .meditation-img {
    width: 255px;
    margin-bottom: 45px;
  }

  .container-adresse {
    width: 85%;
    margin: 0 0 40px 0;
  }

  .iframe {
    width: 85%;
    height: 250px;
  }

  .contact-container {
    flex-direction: column;
    width: 75%;
    align-items: center;
  }
}
